---
---

<center><h1>  DATA STRUCTURE - LIST  </h1></center>



---

# Lists

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists

#### How to create a list?

In Python programming, a list is created by placing all the items (elements) inside square brackets [], separated by commas.

It can have any number of items and they may be of different types (integer, float, string etc.).

In [ ]:
my_list =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
my_list

In [ ]:
# list with mixed data types
my_list1 = [1, "Hello", 3.4] # int,str,float

In [ ]:
my_list1

In [ ]:
type(my_list1)

### How to access elements from a list?
There are various ways in which we can access the elements of a list.

List Index
We can use the index operator [] to access an item in a list.

In [ ]:
my_list

In [ ]:
# positive index - second element from the left
my_list[1]

In [ ]:
# negative index - second last element in the list
my_list[-2]

***List Slicing***

---

In [ ]:
# get all the elements in the list using colon only
my_list[:]

In [ ]:
# same result using the double colon also
my_list[::]

In [ ]:
# after second colon we define the step
my_list[::1]

In [ ]:
# list from index 2 upto 5 with step 1
my_list[2:5:1]

In [ ]:
# list from index 2 upto 5 with step 2 
my_list[2:5:2]

In [ ]:
# reverse the list using step value as -1
my_list[::-1]

***Append an element to the list.***

---

In [ ]:
my_list

In [ ]:
my_list.append(3)

In [ ]:
my_list

In [ ]:
# let's try to append multiple elements in the list
my_list.append([1,2])
my_list

You can see that it has created an nested list when used append method, You can add multiple elements to the list by using extend function. 

---

In [ ]:
my_list.extend([2, 2, 3, 4])
my_list

***Search for an element in the List***

---

In [ ]:
my_list

In [ ]:
# find out the index of an element in the list if present
my_list.index(4)

In [ ]:
# index can also search nested objects
my_list.index([1,2])

---

***Check if the particular element is present in the list or not.***

We will use `in` or `not in` to get the answers of these type of queries. These `in` and `not in` are also called as `membership operators.`

---

In [ ]:
90 in my_list

In [ ]:
[1, 2] in my_list

In [ ]:
[117] not in my_list

***Remove an element from the list***

---

In [ ]:
my_list

In [ ]:
# using remove method, It will find and delete the first element found 4
my_list.remove(4)
my_list

In [ ]:
# using pop method, we can del element
my_list2 = my_list.pop(1)  # pop the second element

In [ ]:
my_list

***Iterate the list.***

---

In [ ]:
# interate a list
for element in my_list:
    print(element)

***Some pre-defined method on List***

---

In [ ]:
# creat another random list
my_list_2 = [1, 33, 3432, 232, 1 ]

In [ ]:
# find out the length of the list
len(my_list_2)

In [ ]:
# sort the list
my_list_2.sort()
my_list_2

In [ ]:
# another way of sorting list
sample_list = [2, 33, 42, 1, 34, 35]
sorted(sample_list)

***Nested List***

* Some or all of the elements in the list are also of type list.

---

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [ ]:
# Show
matrix

In [ ]:
matrix[1]

In [ ]:
matrix[0][1]

---

## Data Structure - Tuple 




* We generally use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.
* Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost.
* Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
* If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.


---

#### Defining the Tuple in Python

* A tuple is created by placing all the items (elements) inside parentheses (), separated by commas.
---

In [ ]:
my_tuple = ('A', 'B', 'C', 'D', 'D', 'E', 1 , 'D')

#### Access element at any Index

---

In [ ]:
my_tuple[2]

#### Find out the index of any element if present in Tuple

---

In [ ]:
my_tuple.index('E')

#### Iterate through the elements of the Tuple

---

In [ ]:
for element in my_tuple:
    print(element)

#### Slicing of a tuple

---

In [ ]:
# tuple
my_tuple

In [ ]:
# first three elements
my_tuple[:3]

In [ ]:
# define the start and end point to slice
my_tuple[3:5]

In [ ]:
# count method on a slice 
my_tuple[3:5].count('D')

In [ ]:
# index method on a slice
my_tuple[1:4].index('B')

#### Tuples are immutable

- We cannot edit/update or delete elements from the tuple.

---

In [ ]:
my_tuple

In [ ]:
len(my_tuple)

In [ ]:
my_tuple[2] = 'D'

### problem Statement:
* Write a Python program to print a specified list after removing the 0th, 4th and 5th elements
Sample List : ['Red','Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

### problem Statement:

* create password Minimum length 6 characters,Maximum length 16 characters with help of list

sample = [12345] # error,
sample2 = [123456]

---

# Problem Statement: 

* ***assessment test to hire a Data Scientist. The candidates were evaluated on 5 different subject `A`, `B`, `C`, `D`, and `E`. The marks of 5 different subjects out of 100 are given below. Help Analytics Vidhya to find out the answers of the following question.***


   *  Who scored the highest marks in the subject B?
   *  Who scored the Lowest marks in the subject C?

---

In [ ]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Hari',  [41, 34, 45, 55, 63]],
                 ['soorya',[42, 23, 34, 44, 53]],
                 ['vimal',[32, 23, 13, 54, 67]],
                 ['Ganesh',   [23, 82, 23, 63, 34]],
                 ['noor', [21, 23, 25, 56, 56]]
                ]

student_marks