---
---

<center><h1> Data Structure - Set </h1></center>

---

###  Creating Python Sets

A set is created by placing all the items (elements) inside curly braces {}, separated by comma, or by using the built-in set() function.

---

In [1]:
my_set = {'A', 'B', 'C', 'D', 1, 'E', 2, 4}

In [2]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [3]:
my_set = {'A', 'B', 'C', 'D', 1, 'E', 2, 4, 2 , 2}

In [4]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

#### Defining a set from a List  and Tuple

---

In [7]:
my_list = ['A', 'B', 1, 2, 'B', 'A']
my_set_from_list = set(my_list)

In [6]:
my_list

['A', 'B', 1, 2, 'B', 'A']

In [8]:
my_set_from_list

{1, 2, 'A', 'B'}

In [9]:
my_tuple = ('A', 'B', 1, 2, 'B', 'A')
my_set_from_tuple = set(my_tuple)

In [10]:
my_set_from_tuple

{1, 2, 'A', 'B'}

#### Add an element to the set

---

In [11]:
my_set.add('O')

In [12]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

#### Delete an element from the list

* Discard - It will not throw an error, if the element you want to remove is not present in the set.
* remove - It will throw an error, if the element you want to remove is not present in the set.

---

In [21]:
my_set = {1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [23]:
my_set.discard('A')

In [24]:
my_set

{1, 2, 4, 'B', 'C', 'D', 'E', 'O'}

In [20]:
my_set

{1, 2, 4, 'C', 'D', 'E', 'O'}

In [25]:
my_set.discard('A')

In [26]:
my_set.remove('B')

In [27]:
my_set.remove('B')

KeyError: 'B'

#### Difference between two Sets

## A-B

In [28]:
# Set 1
my_set

{1, 2, 4, 'C', 'D', 'E', 'O'}

In [29]:
# Set 2
my_set_from_list

{1, 2, 'A', 'B'}

In [30]:
# difference of 2 sets
my_set.difference(my_set_from_list)

{4, 'C', 'D', 'E', 'O'}

In [31]:
# it will not update the results, if not stored in a variable
my_set

{1, 2, 4, 'C', 'D', 'E', 'O'}

#### Iterate the set

---

In [ ]:
my_set = {1,4,8,5,6,3,9,2}

In [ ]:
# Iterate the set
for element in my_set:
    print(element)

---
---
## Data Structure: Dictionary

* Dictionary is also a mutable collection. But as you have seen in the list the indexes of the list are integer numbers. Here, indexes for dictionaries can use many different data types, not just integers.
* Indexes for dictionaries are called keys, and a key with its associated value is called a key-value pair.
* Items in the dictionaries are unordered. You can find out the first item in a list simply like my_list[0]. But there is no ✖️ “first” item in a dictionary. 
* Note: Dictionaries in Python 3.7 and later will remember the insertion order of their key-value pairs if you create a sequence value from them. But these are still unordered, as you can’t access items in them using integer indexes.
* When we check whether the 2 lists are same or not the order of values in the list matters. It does not matter in what order the key-value pairs are typed in a dictionary.



---

### Creating Python Dictionary
Creating a dictionary is as simple as placing items inside curly braces {} separated by commas.

An item has a key and a corresponding value that is expressed as a pair (key: value).

In [34]:
# define a dictionary
'''
{
    'key_1' : 'value_1',
    'key_2' : 'value_2',
    .
    .
    .
    .
    'key_n' : 'value_n'
}
'''
# define the key value pairs
my_dictionary = {
    'name'       : 'abc',
    'age'        :  21,
    'roll_no'    : 'CSE100',
    'percentage' :  85,
    'attendance' :  74,
    'city'       : 'gurugram',
    'country'    : 'india'
}

In [35]:
# access key of the dictionary
print('Name is : ',my_dictionary['name'])

Name is :  abc

In [36]:
print('Age before updation is : ',my_dictionary['age'])

# update value of the key
my_dictionary['age'] = 25

print('Age after updation is : ',my_dictionary['age'])

Age before updation is :  21
Age after updation is :  25

In [37]:
# get the keys of the dictionary

my_dictionary.keys()

dict_keys(['name', 'age', 'roll_no', 'percentage', 'attendance', 'city', 'country'])

In [38]:
# get the values of the dictionary

my_dictionary.values()

dict_values(['abc', 25, 'CSE100', 85, 74, 'gurugram', 'india'])

In [39]:
# update dictionary with a dictionary

my_dictionary.update({ 'pincode' : 122015, 'last_name' : 'xyz'})

In [40]:
my_dictionary

{'name': 'abc',
 'age': 25,
 'roll_no': 'CSE100',
 'percentage': 85,
 'attendance': 74,
 'city': 'gurugram',
 'country': 'india',
 'pincode': 122015,
 'last_name': 'xyz'}

---

 ***Add new key to the dictionary*** 

---

In [41]:
# add new key to the dictionary:
my_dictionary['new_key'] = 'new_value'

print(my_dictionary)

{'name': 'abc', 'age': 25, 'roll_no': 'CSE100', 'percentage': 85, 'attendance': 74, 'city': 'gurugram', 'country': 'india', 'pincode': 122015, 'last_name': 'xyz', 'new_key': 'new_value'}

In [ ]:
#sort the dictionary by keys
m_dict = {
    'KL Rahul' : 45,
    'Rohit'    : 22,
    'Virat'    : 31,
    'Dhawan'   : 17,
    'Rishabh'  : 10 
}

In [ ]:
sorted(m_dict.items())

---

## Python Strings

* In this tutorial you will learn to create, format, modify and delete strings in Python.

---

* create a string

Strings can be created by enclosing characters inside a single quote or double-quotes. Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [50]:
# Single word
'hello'

'hello'

In [53]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

### String Indexing

In [56]:
my_string = "Hello, welcome to the world of Python"

In [57]:
# Show first element (in this case a letter)
my_string[0]

'H'

In [58]:
# Grab everything past the first term all the way to the length of s which is len(s)
my_string[1:]

'ello, welcome to the world of Python'

In [59]:
# Grab everything UP TO the 3rd index
my_string[:3]

'Hel'

In [60]:
# negative index
my_string[-1]

'n'

In [63]:
len(my_string)

37

#### problem statement

* reverse the string
* print string with step 2

**`index`**

* If present it will return the starting index.
* If not found, then it will give error

In [ ]:
my_string.index('Python')

In [ ]:
my_string.index('next')

***Check whether if the string `startswith` or `endswith` a particular substring or not.***

---

In [65]:
my_string

'Hello, welcome to the world of Python'

In [66]:
my_string.endswith('Python')

True

In [67]:
my_string.endswith('world')

False

In [68]:
my_string.startswith('Hello')

True

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

In [69]:
my_string

'Hello, welcome to the world of Python'

In [70]:
# Upper Case a string
my_string.upper()

'HELLO, WELCOME TO THE WORLD OF PYTHON'

In [71]:
# Lower case
my_string.lower()

'hello, welcome to the world of python'

In [72]:
# Split a string by blank space (this is the default)
my_string.split()

['Hello,', 'welcome', 'to', 'the', 'world', 'of', 'Python']

In [79]:
string = "Hariprasanth"

In [80]:
string.isalpha()

True

In [81]:
string = "Hari prasanth"

In [82]:
string.isalpha()

False

In [83]:
# replace string
"java is easy to learn.".replace('java', 'python')

'python is easy to learn.'

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [84]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

## Formatted String Literals (f-strings)

Introduced in Python 3.6, f-strings offer several benefits over the older `.format()` string method described above. For one, you can bring outside variables immediately into to the string rather than pass them as arguments through `.format(var)`.

In [85]:
name = 'Fred'

print(f"He said his name is {name}.")

He said his name is Fred.

#### problem statement
Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string. 
Sample String : 'abc', 'xyz'
Expected Result : 'xyc abz'